@charset "UTF-8";
  body {
  margin: 0;
  display: block;
  }
    .congresso {
  font-size: 20px;
 padding-left: 15%;
}
.buttom {
  margin-left: 150px;
  margin-top: 30px;
}
.sobre {
  
  margin-bottom: 00px;
  padding-top: 10px;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: -0px;
 
}
.bac {
  background-image: url(imgs/656aee4da269d77bee2c02bb81fc0c88.png);
  background-repeat: no-repeat;
  height: 10%;
  background-size: 100%;
  height: 400px;
 
  
}


}

.dados1{width: 100%;padding-left: 5%;}
.hea {
  border: 2px solid;
}
.ins {
  background-color: #fb0101f1;
  width: 100%;

  margin-top: -20px;
  min-width: 300px;
  color: white;
}
.vivo {
  background-color: #015656cb;
  width: 100%;
  height: 250px;
  
  margin-top: -20px;
}
.confira {
  padding-left: 100px;
  padding-top: 10px;
  padding-right: 30px;
  color: #2b193dd5;
}
.publico {
  font-size: 13px;
  padding-right: 50%;
  padding-left: 4%;
}
.border {
  border: 1px solid;
  width: 100px;
  box-shadow: -1px -1px 7px 5px cornflowerblue;
  background-color: #12b7b7f1;
  margin-left: 10px;
  border-radius: 10px;
  font-size: 7px;
  padding: 4px;
}
.border2 {
  border: 1px solid;
  width: 15em;
  box-shadow: -1px -1px 7px 5px cornflowerblue;
  background-color: #12b7b7f1;
  margin-left: 154px;
  margin-top: -158px;
  border-radius: 10px;
  font-size: 7px;
  padding: 4px;
  margin-bottom: 20px;
}
.border3 {
  border: 1px solid;
  width: 100px;
  box-shadow: -1px -1px 7px 5px cornflowerblue;
  background-color: #12b7b7f1;
 
  margin-top: -170px;
  border-radius: 10px;
  font-size: 7.8px;
  padding: 4px;
}
.inscr {
  padding-left: 10%;
  padding-right: 10%;
}
.viv {
  margin-top: -120px;
  padding-bottom: 30px;
}
.img {
  width: 40%;
  padding-left: 56%;
}
.tivo {
  margin-top: -150px;
  padding-left: 5%;
  font-size: 10px;
}
.mais {
  margin-top: 30%;
  color: white;
  padding-bottom: 10px;
  padding-left: 8%;
}
.it {
  margin-top: -20px;
  background-color: red;
  border-color: red;
  border-radius: 10px;
  color: white;
  margin-bottom: 5%;margin-left: 5%;
}
.agora {
 margin-left: 25%;
  margin-bottom: 10px;
  background-color: #12b7b7f1;
  border-color: #12b7b7f1;
  border-radius: 5px;
  font-size: 20px;
}
.coli {
  background-color: #106e6ef1;
  width: 100%;

}
.aber {
  font-size: 10px;
}
.phara {
  font-size: 9px;
}
.phisio {
  font-size: 9px;
}
.img1{width: 50%; margin-top: -79%;padding-left: 50%;
  }

.noses{width: 100%;display: block;}

.heder{width: 100%;display: block;}

.omo{padding-left: 5% ; padding-right: 59%;
display: block;}

.img2{width: 59%;padding-left: 46%;margin-top: -10em;}
.liy{padding-left: 5%;padding-right: 45%;padding-bottom: 5%;padding-top: 5%;}
footer{width: 100%; background-color: rebeccapurple;}
.vivt{padding-left: 5%;padding-bottom: 0%;}
.colir{color: rgb(255, 0, 0); }
.div{margin-top: -40px;}